.login-page {
  background-color: #fff;
  overflow: hidden;
}

.login-container {
  background-color: #d9d9d9;
  display: flex;
  width: 100%;
  padding-bottom: 218px;
  flex-direction: column;
  align-items: stretch;
}

.header {
  background-color: #329afc;
  display: flex;
  width: 100%;
  padding: 1px 0;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.logo {
  aspect-ratio: 1.87;
  object-fit: contain;
  object-position: center;
  width: 469px;
  max-width: 100%;
}

.content-wrapper {
  align-self: center;
  margin-top: 18px;
  margin-bottom: -44px;
  width: 100%;
  max-width: 1852px;
}

.content-grid {
  gap: 20px;
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 22%;
  margin-left: 0;
}

.login-form-content {
  background-color: #097ce8;
  display: flex;
  padding: 15px 27px 94px 80px;
  flex-direction: column;
  align-items: end;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  width: 100%;
}

.form-label {
  margin-right: 23px;
}

.form-image {
  aspect-ratio: 4.81;
  object-fit: contain;
  object-position: center;
  width: 240px;
  margin-top: 24px;
  max-width: 100%;
}

.password-input {
  background-color: #d9d9d9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  width: 240px;
  height: 50px;
  border: none;
  padding: 8px;
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 78%;
  margin-left: 20px;
}

.description-text {
  background-color: #097ce8;
  flex-grow: 1;
  padding: 88px 65px 362px;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 64px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

@media (max-width: 991px) {
  .login-container {
    max-width: 100%;
    padding-bottom: 100px;
  }

  .header {
    max-width: 100%;
    padding-right: 20px;
  }

  .content-wrapper {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .content-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .login-form {
    width: 100%;
  }

  .login-form-content {
    margin-top: 37px;
    padding: 15px 20px 94px;
    white-space: initial;
  }

  .form-label {
    margin-right: 10px;
  }

  .form-image {
    margin-right: 8px;
  }

  .description-section {
    width: 100%;
  }

  .description-text {
    max-width: 100%;
    font-size: 40px;
    margin-top: 38px;
    padding: 88px 20px 100px;
  }
