.login-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .login-content {
    background-color: #d9d9d9;
    display: flex;
    width: 100%;
    padding-bottom: 218px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .login-content {
      max-width: 100%;
      padding-bottom: 100px;
    }
  }
  .header {
    background-color: #329afc;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1px 0;
  }
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .logo {
    aspect-ratio: 1.87;
    object-fit: contain;
    object-position: center;
    width: 469px;
    max-width: 100%;
  }
  .main-content {
    align-self: center;
    width: 100%;
    max-width: 1852px;
    margin: 18px 0 -44px;
  }
  @media (max-width: 991px) {
    .main-content {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .content-wrapper {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .content-wrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .login-form-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 22%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .login-form-column {
      width: 100%;
    }
  }
  .login-form {
    background-color: #097ce8;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #fff;
    white-space: nowrap;
    width: 100%;
    padding: 15px 27px 94px 80px;
    font: 400 24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .login-form {
      margin-top: 37px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .email-label {
    margin-right: 23px;
  }
  @media (max-width: 991px) {
    .email-label {
      margin-right: 10px;
    }
  }
  .email-input {
    aspect-ratio: 4.81;
    object-fit: contain;
    object-position: center;
    width: 240px;
    margin-top: 24px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .email-input {
      margin-right: 8px;
    }
  }
  .password-label {
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .password-label {
      margin-right: 10px;
    }
  }
  .password-input {
    background-color: #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 13px;
    width: 240px;
    height: 50px;
  }
  .welcome-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 78%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .welcome-column {
      width: 100%;
    }
  }
  .welcome-content {
    background-color: #097ce8;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 26px 20px 362px 65px;
    font: 400 64px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .welcome-content {
      max-width: 100%;
      margin-top: 38px;
      font-size: 40px;
      padding: 0 0 100px 20px;
    }
  }
  .welcome-title {
    color: #1e1e1e;
    align-self: center;
  }
  @media (max-width: 991px) {
    .welcome-title {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .welcome-description {
    color: #fff;
    text-align: center;
    margin-top: 4px;
  }
  @media (max-width: 991px) {
    .welcome-description {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }